.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  grid-template-areas: "header__links-list logo address";
  align-items: center;
  padding: 90px 52px 94px 50px;
}
.header__link_active {
  text-decoration: none;
}
.header__links-list-item {
  text-underline-offset: 4px;
  list-style: circle;
}
.header__links-list-item_no-bullit {
  list-style: none;
}

.header__links-list {
  display: flex;
  grid-area: header__links-list;
  gap: 33px;
  list-style: none;
}

.logo {
  display: block;
  width: 100%;
  height: auto;
  grid-area: logo;
}

.logo_image {
  display: inline-block;
  width: 148px;
  height: 105px;
}
.address_header {
  justify-self: end;
  margin-right: 32px;

  max-width: 240px;
}
.address {
  display: flex;
  flex-direction: column;
  grid-area: address;
  align-items: flex-start;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  text-underline-offset: 4px;
  list-style: circle;
  line-height: 24px;
}
.stile_header_footer {
  font-style: normal;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.cover {
  position: relative;
  background-image: url("../images/cover.jpg");
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 757px;
  z-index: 0;
  font-family: "Raleway", sans-serif;
  color: #fff;
}

.overlay {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color: rgba(0, 0, 0, 1);
}

.cover__title {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 165px 50px 106px 50px;
}

.aligned-text_left {
  align-self: flex-start;
  position: relative;
  z-index: 3;
  letter-spacing: 30px;
}

.aligned-text_center {
  align-self: center;
  position: relative;
  z-index: 3;
  margin-top: -15px;
  letter-spacing: 30px;
}

.aligned-text_right {
  align-self: flex-end;

  position: relative;
  z-index: 3;
  margin-top: -10px;
  letter-spacing: 30px;
}
.no-letter-spacing {
  letter-spacing: 0;
}

.description {
  z-index: 2;
  display: flex;
  gap: 105px;
}

.cover_description_text {
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  word-spacing: 19px;
  margin-top: 9px;
  text-transform: uppercase;
  padding-left: 50px;
}

.bet-button {
  position: relative;
  z-index: 3;
  font-size: 22px;
  font-weight: 500;
  background: transparent;
  border: 1px solid #fff;
  border-width: 1px;
  color: #fff;
  width: 256px;
  min-height: 51px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding: 27px 24px 30px 24px;
}

.lots__heading {
  margin-top: 180px;
  margin-left: 64px;
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: 700;
}

.card__title {
  position: relative;
  z-index: 3;
  height: 100%;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: #fff;
  text-transform: uppercase;
  margin: 48px 40px 0 40px;
  text-decoration: underline;
}
.card_link {
  text-decoration: none;
}
.card_text {
  position: relative;
  z-index: 2;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  padding: 0 40px 49px 40px;
  line-height: 1.2;
  letter-spacing: 0%;
  text-decoration: none;
}

.card_ref {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}
.lots__card-list-item {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 596px;
  width: 334px;
  position: relative;
  list-style: none;
}

.lots__look-more-link {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  padding-left: 64px;
  text-underline-offset: 3px;
}

.about {
  display: grid;
  justify-items: center;
  gap: 25px;
  margin-top: 118px;
  grid-template-columns: 334px auto;
  grid-template-rows: auto;
  grid-template-areas: "about__logo about_text";
  padding-left: 24px;
  padding-right: 24px;
  font-family: "Raleway", sans-serif;
  margin-bottom: 182px;
}

.about__logo {
  margin-top: 35px;
  grid-area: about__logo;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  border-radius: 50%;
  width: 240px;
  height: 240px;
}

.logo_image_about {
  width: 148px;
  height: 114px;
}

.about_text {
  padding-right: 24px;
  grid-area: about_text;
}

.paragraph {
  font-weight: 400;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  line-height: 24px;
}

.about__title {
  font-size: 40px;
  font-weight: 700;
  padding-top: 136px;
  padding-bottom: 100px;
  text-transform: uppercase;
}

.footer {
  margin-top: 182px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 82px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "address menu_footer link_social_footer";
}

.link_social_footer {
  display: flex;
  gap: 48px;
  justify-self: end;
  align-items: flex-start;
}

.menu_footer {
  justify-self: center;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.address_footer {
  justify-self: start;
}

.footer__social-link {
  display: inline-block;
}

.footer__social-icon {
  display: block;
  height: 48px;
  width: 48px;
}
.footer__link_active {
  text-decoration: none;
}
